<div class="search-bar">
    <input type="text" class="form-control" placeholder="Search..." id="text-input" [(ngModel)]="searchString">

    <select class="form-select" id="inline-dropdown" [(ngModel)]="searchType">
        <option value="byname/">By name</option>
        <option value="bydate/">By start date</option>
        <option value="bycategory/">By category</option>
        <option value="byorganizer/">By organizer</option>
        <option value="isavailable">Is available</option>
    </select>

    <button (click)="search()">Search</button>
</div>
