.wrapper {
    padding: 1rem 3rem;
}

#calendar-list {
    width: 200px;
    height: 200px;
    border: 2px solid red;
    display: none;
    position: absolute;
    top: 182px;
    right: 20px;
    background-color: #fff;
    padding: 0.5rem;
    gap: 10px;
}

.details-box {
    display: grid;
    grid-template-columns: 4fr 1fr 8fr 2fr;
    border: 2px solid rgb(226, 19, 19);
    border-radius: 4px;
    padding: 2rem 4rem;
    font-size: 1.1em;
    font-weight: 500;
}

.calendars {
    display: grid;
    gap: 5px;
}