<div class="event-container">
    <section class="tabs-wrapper">
        <div class="tabs-container">
            <div class="tabs-block">
                <div class="tabs">
                    <input type="radio" name="tabs" id="tab1"  />
                    <label for="tab1"><span class="material-icons">account_box</span> Create event</label>
                    <div class="tab">
                        <app-create-event></app-create-event>
                    </div>

                    <input type="radio" name="tabs" id="tab2" checked="checked"/>
                    <label for="tab2"><span class="material-icons">edit_calendar</span> Update event</label>
                    <div class="tab">
                        <app-update-event></app-update-event>
                    </div>

                    <input type="radio" name="tabs" id="tab3" />
                    <label for="tab3"><span class="material-icons">admin_panel_settings</span> Admin</label>
                    <div class="tab">

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
