<ul style="display: flex; flex-direction: column; gap: 20px">
    <li *ngFor="let calendar of calendars | async">
        Calendar id: {{calendar.id}}
        <br>
        Calendar name: {{calendar.name}}
        <br>
        Username: {{calendar.username}}
        <br>
        Event list: 
        <div *ngFor="let event of calendar.eventId">
            {{event}}
        </div>
        <!-- {{calendar.eventId[0]}} -->
        <!-- <div *ngFor="let item of arr(calendar.eventId) | async">
        </div> -->
    </li>
</ul>

