<ul style="display: flex; flex-direction: column; gap: 20px">
    <li *ngFor="let calendar of calendars">
        Calendar id: {{calendar.id}}
        <br>
        Calendar name: {{calendar.name}}
        <br>
        Username: {{calendar.username}}
        <br>
        Event list: 
        <div *ngFor="let event of calendar.eventId" (click)="getEventNameById(event)">
            <!-- {{ getEventNameById(event) }} -->
            <!-- <span *ngIf="event">{{getEventNameById(event)}}</span> -->
            <!-- {{ event }} -->
            <!-- {{ eventName }} -->
            {{ arr3[event] }}

        </div>
    </li>
</ul>

