.calendar-container {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    justify-content: center;
}

/**
 * Tabs Container
 */
 .tabs-container {
	padding: 0 2rem;
}

/**
 * Tabs Block
 */
.tabs-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

/**
 * Tabs
 */
.tabs {
	display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
    row-gap: 1rem;
}

.tabs label {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	margin-right: 0.0625rem;
	cursor: pointer;
	background-color: rgba(211, 211, 211, 0.151);
	color: grey;
	font-family: Roboto, sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	transition: background-color ease 0.3s;
}

.tabs label .material-icons {
	margin-right: 0.3rem;
}

.tabs .tab {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	display: none;
	padding: 1rem 2rem;
	color: #000;
	background-color: #fff;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.tabs .tab > *:not(:last-child) {
	margin-bottom: 0.8rem;
}

.tabs [type=radio] {
	display: none;
}

.tabs [type=radio]:checked + label {
	background-color: #fff;
	color: rgb(226, 19, 19);
	border-top: 3px solid rgb(226, 19, 19);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.tabs [type=radio]:checked + label + .tab {
	display: block;
    border-top: 3px solid rgb(226, 19, 19);
}

.tab .material-icons {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 10px;
}
@media (min-width: 768px) {

	body {
		font-size: 1.125rem;
	}

	.tabs-container {
		padding: 1rem 4rem;
	}

	.tabs label {
		order: 1;
		width: auto;
	}

	.tabs .tab {
		order: 9;
	}

	.tabs [type=radio]:checked + label {
		border-bottom: none;
	}
}
@media (min-width: 992px) {

	.tabs {
		width: 800px;
	}
}