/* @import "~bootstrap/dist/css/bootstrap.css"; */
/* @import '../node_modules/@okta/okta-signin-widget/dist/css/okta-sign-in.min.css'; */
/* @import '~https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.1.0/css/okta-theme.css'; */

*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 7rem;
}

